algoliasearch==1.11.0
algoliasearch-django==1.2.4
billiard==3.5.0.2
cffi==1.9.1
chardet==2.3.0
chromedriver==2.24.1
cryptography==1.7.1
DateTime==4.1.1
dj-database-url==0.4.1
Django==1.8
django-jsonview==1.0.0
enum34==1.1.6
google-api-python-client==1.5.5
gunicorn==19.6.0
httplib2==0.9.2
idna==2.2
ipaddress==1.0.17
oauth2client==4.0.0
psycopg2==2.6.2
py==1.4.32
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
rsa==3.4.2
selenium==3.0.2
simplejson==3.10.0
six==1.10.0
twitter-text-python==1.1.0
unicodecsv==0.14.1
uritemplate==3.0.0
virtualenv==15.1.0
whitenoise==3.2.2
zope.interface==4.3.3
