<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>uplevel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="http://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
      <div class="container-fluid">
        <div class="row">
            <div class="row" id="movie-container">
                <video autoplay mute loop id="video-x" onplay="setPlaySpeed()">
                    <source src="{% static  'images/About Friends 2014-HD.mp4'%}" type="video/mp4" mute>
                </video>
                <div class="overlay-logo">
                    <h4>uplevel</h4>
                </div>
                <div class="overlay-tagline text-center">
                    <!--<p>To <span id="tagline-one">get better</span>, <span id="tagline-two">search here</span>.</p>-->
                    <h5>Dissecting <span class="background-color-one">greatness</span>, for <span class="background-color-two">everyone</span>.</h5>
                    <section>
                        <ul class="input-list style-4 clearfix">
                            <input type="text" class="home-search" placeholder="What do you want to get better at?">
                        </ul>
                    </section>
                </div>
            </div>
            <div class="row" id="grad-panel"></div>
            <div class="row" id="first-panel" style="height: 200px;">
                <div class="panel-pic-container" style="margin-top: 30px;">
                    <h2 class="text-center">Share your secrets to productivity, and learn from others.</h2>
                    <p class="text-center">Let's get better together.</h2>
                </div> 
            </div>
            <div class="row" id="first-panel">
                <div class="panel-title"><h3>Author collection</h3></div>
                <div class="panel-pic-container">
                      <div class="col-md-3 img-pic-container">
                          <img src="{% static 'images/adam.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Adam Grant</span><br><p>Give & Take, Originals</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/amy.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Amy Cuddy</span><br><p>Presence</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/dan.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Dan Ariely</span><br><p>Predictably Irrational</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/malcolm.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Malcolm Gladwell</span><br><p>Outliers, Tipping Point</p></h3>
                      </div>
                </div> 
            </div>
            <div class="row" id="first-panel">
                <div class="panel-title"><h3>World-class performer collection</h3></div>
                <div class="panel-pic-container">
                      <div class="col-md-3">
                          <img src="{% static 'images/bulb.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Jamie Foxx</span><br><p>Actor, comedian, rapper</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/power.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Rick Rubin</span><br><p>100x Grammy Winning Producer</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/focus.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Laird Hamilton</span><br><p>Big wave surfer</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/speak.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Jeff Bezos</span><br><p>Entrepreneur, investor</p></h3>
                      </div>
                </div> 
            </div>
            <div class="row" id="first-panel">
                <div class="panel-title"><h3>Goal collection</h3></div>
                <div class="panel-pic-container">
                      <div class="col-md-3">
                          <img src="{% static 'images/bulb.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Creativity</span><br><p>Test test test test test test test</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/power.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Confidence</span><br><p>Test test test test test test test</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/focus.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Concentration</span><br><p>Test test test test test test test</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/speak.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Public speaking</span><br><p>Test test test test test test test</p></h3>
                      </div>
                </div> 
            </div>
            <div class="row" id="first-panel">
                <div class="panel-title"><h3>Class collection</h3></div>
                <div class="panel-pic-container">
                      <div class="col-md-3">
                          <img src="{% static 'images/bulb.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">Influence</span><br><p>The Wharton School, UPenn</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/power.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">Negotiations</span><br><p>The Wharton School, UPenn</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/focus.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-two">After work</span><br><p>Test test test test test test test</p></h3>
                      </div>
                      <div class="col-md-3">
                          <img src="{% static 'images/speak.jpg' %}" class="img-rounded img-responsive images" width="250" height="270">
                          <h3 class="img-text-container"><span class="background-color-one">How Will You Measure Your Life</span><br><p>Harvard Business School</p></h3>
                      </div>
                </div> 
            </div>
            <div class="row" style="background-color: gray; height: 50px;">
            </div>
        </div>
      </div>
    </body>
</html>


<script>
  var vid = document.getElementById("video-x");

  function setPlaySpeed() {
      vid.playbackRate = 0.5;
  }
</script>