{% extends 'board/base.html' %}

{% block content %}
  
<div class="mytoolkit-header">-- My Toolkiit --</div>
<div class="mytoolkit-subheader">Tools you've saved to your Toolkiit</div>


<div class="col-md-1"></div>
<div class="col-md-11">
    
<!--DAILY BEGINS-->
    {% if daily_posts %}
    <div class="col-md-11 mytoolkit-reminder-heading">
        Daily Reminders
    </div>
    {% endif %}

    {% for post in daily_posts %}
        <div class="mytoolkit-list-parent_1 post{{ post.pk }}">
            <div class="col-md-1">

                <div class="dropdown">
                    <button class="btn btn-default-sm dropdown-toggle mytoolkit-remind-button img-rounded" type="button" data-toggle="dropdown">
                        {% if post in daily_posts %}Daily{% endif %}
                        {% if post in weekly_posts %}Weekly{% endif %}
                        {% if post in monthly_posts %}Monthly{% endif %}
                        {% if post in saved_for_later_posts %}Saved{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="3">Weekly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="6">Monthly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="10">Save for later</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="1">Unsave</button></li>
                    </ul>
                </div>

            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">
                <button class="mytoolkit-list-to_should_button img-rounded">
                    To <span class="mytoolkit-list-to_text">{{ post.to_field }}</span>, I should <span class="mytoolkit-list-should_text">{{ post.do_field }}</span>.
                </button>
            </a>
        </div>
    {% endfor %}
<!--DAILY ENDS-->

<!--WEEKLY BEGINS-->
    {% if weekly_posts %}
    <div class="col-md-11 mytoolkit-reminder-heading">
        Weekly Reminders
    </div>
    {% endif %}
    
    {% for post in weekly_posts %}
        <div class="mytoolkit-list-parent_1 post{{ post.pk }}">
            <div class="col-md-1">

                <div class="dropdown">
                    <button class="btn btn-default-sm dropdown-toggle mytoolkit-remind-button img-rounded" type="button" data-toggle="dropdown">
                        {% if post in daily_posts %}Daily{% endif %}
                        {% if post in weekly_posts %}Weekly{% endif %}
                        {% if post in monthly_posts %}Monthly{% endif %}
                        {% if post in saved_for_later_posts %}Saved{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="mytoolkit-follow-options"name="{{ post.id }}" value="1">Daily</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="6">Monthly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="10">Save for later</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="3">Unsave</button></li>
                    </ul>
                </div>

            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">
                <button class="mytoolkit-list-to_should_button img-rounded">
                    To <span class="mytoolkit-list-to_text">{{ post.to_field }}</span>, I should <span class="mytoolkit-list-should_text">{{ post.do_field }}</span>.
                </button>
            </a>
        </div>
    {% endfor %}
<!--WEEKLY ENDS-->

<!--MONTHLY BEGINS-->
    {% if monthly_posts %}
    <div class="col-md-11 mytoolkit-reminder-heading">
        Monthly Reminders
    </div>
    {% endif %}
    
    {% for post in monthly_posts %}
        <div class="mytoolkit-list-parent_1 post{{ post.pk }}">
            <div class="col-md-1">

                <div class="dropdown">
                    <button class="btn btn-default-sm dropdown-toggle mytoolkit-remind-button img-rounded" type="button" data-toggle="dropdown">
                        {% if post in daily_posts %}Daily{% endif %}
                        {% if post in weekly_posts %}Weekly{% endif %}
                        {% if post in monthly_posts %}Monthly{% endif %}
                        {% if post in saved_for_later_posts %}Saved{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="mytoolkit-follow-options"name="{{ post.id }}" value="1">Daily</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="3">Weekly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="10">Save for later</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="6">Unsave</button></li>
                    </ul>
                </div>

            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">
                <button class="mytoolkit-list-to_should_button img-rounded">
                    To <span class="mytoolkit-list-to_text">{{ post.to_field }}</span>, I should <span class="mytoolkit-list-should_text">{{ post.do_field }}</span>.
                </button>
            </a>
        </div>
    {% endfor %}
<!--MONTHLY ENDS-->

<!--REMAINDER BEGINS-->
    {% if saved_for_later_posts %}
    <div class="col-md-11 mytoolkit-reminder-heading">
        Saved for later
    </div>
    {% endif %}
    
    {% for post in saved_for_later_posts %}
        <div class="mytoolkit-list-parent_1 post{{ post.pk }}">
            <div class="col-md-1">

                <div class="dropdown">
                    <button class="btn btn-default-sm dropdown-toggle mytoolkit-remind-button img-rounded" type="button" data-toggle="dropdown">
                        {% if post in daily_posts %}Daily{% endif %}
                        {% if post in weekly_posts %}Weekly{% endif %}
                        {% if post in monthly_posts %}Monthly{% endif %}
                        {% if post in saved_for_later_posts %}Saved{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="mytoolkit-follow-options"name="{{ post.id }}" value="1">Daily</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="3">Weekly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="6">Monthly</button></li>
                        <li><button class="mytoolkit-follow-options" name="{{ post.id }}" value="10">Unsave</button></li>
                    </ul>
                </div>

            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">
                <button class="mytoolkit-list-to_should_button img-rounded">
                    To <span class="mytoolkit-list-to_text">{{ post.to_field }}</span>, I should <span class="mytoolkit-list-should_text">{{ post.do_field }}</span>.
                </button>
            </a>
        </div>
    {% endfor %}
<!--REMAINDER ENDS-->




    <script>
        $('.mytoolkit-follow-options').click(function(){
            var pk = $(this).attr('name');
            $.ajax({
                     type: "POST",
                     url: "{% url 'follow_button' %}",
                     data: {
                         'pk': pk,
                         'frequency': $(this).val().toLowerCase(),
                         'csrfmiddlewaretoken': '{{ csrf_token }}'
                       },
                     dataType: "json",
                     success: function(response) {
                            console.log('It worked.');
                            location.reload();  
                      },
                     error: function(response, e) {
                            console.log('Something went wrong.');
                     }
                });      

        })
    </script>


<script>
    mixpanel.track("My Toolkiit Page View")
</script>

{% endblock %}


