{% extends 'board/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12 detail-top-row">
        <div class="col-md-2"></div>
        <div class="col-md-4 detail-top">
            <div class="detail-align">
                <span class="detail-text"><p>To</p></span>
                <a href="{% url 'to_posts' to_field=post.to_field %}" 
                    <span class="detail-to-text"><p>{{post.to_field}}</p></span>
                </a>
            </div>
        </div>
        <div class="col-md-4 detail-top">
            <div class="detail-align">
                <span class="detail-text"><p>You should</p></span>
                <span class="detail-then-text"><p>{{post.do_field}}</p></span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>  


<div class="row detail-above-button-row">
    <div class="col-md-12"></div>
</div>

<div class="row detail-button-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-default-sm detail-like-button" name="{{ post.id }}" />
                <span class="glyphicon glyphicon-save " aria-hidden="true"></span> <span class="like_count detail-like-text"></span>
            </button>
        {% else %}
        <a href="{% url 'register' %}">
            <button type="button" class="btn btn-default-sm detail-like-button" />
                <span class="glyphicon glyphicon-save " aria-hidden="true"></span> <span class="like_count detail-like-text"></span>
            </button>
        </a>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row detail-second-row">
    <div class="col-md-2"></div>    
      <div class="col-md-8 detail-second-section">
            

            <div>
                <h3>
                  <span class="detail-second-head">By <a href="{% url 'user_posts' author=post.author %}">{{post.author}}</a>  //  {{ post.published_date|date:"F n, Y" }}
                  </span>
               </h3>
                <div class="detail-second-summary">
                  {% if post.person %}
                      <span style="font-weight: bolder">
                          <a href="{% url 'person_posts' person_or_proof=post.person %}">{{ post.person }}</a> - 
                      </span>
                  {% endif %}

                  {% if post.summary %}
                      {{ post.summary }}
                  {% endif %}

                  {% if post.source_url %}
                      [<a href="{{ post.source_url }}">source link</a>]
                  {% endif %}
                </div>
            </div>
            <br>
            <div>
                <h3><span class="detail-second-head">More Proofpoints</span> 
                  <a href="{% url 'proof_new' post=post.pk %}">
                    <span>(+Add Proofpoint)</span>
                  </a>
                </h3>
                <div class="detail-second-example">
                    <ul>
                        {% for proof in post.proof_set.all %}
                            <li>
                                <span style="font-weight: bolder">
                                    <a href="{% url 'person_posts' person_or_proof=proof.person %}">{{ proof.person }}</a> - 
                                </span>
                                {{ proof.caption }} 
                            {% if proof.source_url %}
                                [<a href="{{ proof.source_url }}">source link</a>] 
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

      </div>

    <div class="col-md-2"></div>  
</div>

<!--        <div class="detail-second-social">
                <button type="button" class="btn btn-default-sm like-button" name="{{ post.id }}" />
                    <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span> <span class="like_count like-text"></span>
                </button>
                <button type="button" class="btn btn-default-sm like-button"  />
                    <span class="glyphicon glyphicon-comment"></span> <span class="like_count">{{ post.total_comments }}</span>
                </button>
        </div>-->

<!--
<div class="row detail-second-row">
    <div class="col-md-2"></div>    
    <div class="col-md-5 detail-second-section">
        <h3><span class="detail-second-head">More Proofpoints</span> 
          <a href="{% url 'proof_new' post=post.pk %}">
            <span>(+Add Proofpoint)</span>
          </a>
        </h3>
        <div class="detail-second-example">
            <ul>
                {% for proof in post.proof_set.all %}
                  <li>{{ proof.person }}: {{ proof.caption }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-3 detail-second-section">
        <h3>
          <span class="detail-second-head">Notes by </span><a href="{% url 'user_posts' author=post.author %}"><span class="detail-second-head">{{post.author}}</a>
       </h3>
        <div class="detail-second-summary">{{ post.summary }}</div>
    </div>
    <div class="col-md-2"></div>  
</div> -->




<div class="row detail-third-row">
    <div class="col-md-2"></div>    
    <div class="col-md-8 detail-third-text">
        <p>Subscribe to email reminders:</p> 
            {% if user.is_authenticated %}
                <button type="button" class="btn detail-remind-all detail-btn-remind-daily" name="{{ post.id }}" value="1">
                    <span class="detail-daily-text">Daily</span>
                </button>

                <button type="button" class="btn detail-remind-all detail-btn-remind-weekly" name="{{ post.id }}" value="3">
                    <span class="detail-weekly-text">Weekly</span>
                </button>

                <button type="button" class="btn detail-remind-all detail-btn-remind-monthly" name="{{ post.id }}" value="6">
                    <span class="detail-monthly-text">Monthly</span>
                </button>
            {% else %}
                <a href="{% url 'register' %}">
                    <button type="button" class="btn detail-remind-all detail-btn-remind-daily" name="{{ post.id }}" value="1">
                        <span class="detail-daily-text">Daily</span>
                    </button>
                </a>
                <a href="{% url 'register' %}">
                    <button type="button" class="btn detail-remind-all detail-btn-remind-weekly" name="{{ post.id }}" value="3">
                        <span class="detail-weekly-text">Weekly</span>
                    </button>
                </a>
                <a href="{% url 'register' %}">
                    <button type="button" class="btn detail-remind-all detail-btn-remind-monthly" name="{{ post.id }}" value="6">
                        <span class="detail-monthly-text">Monthly</span>
                    </button>
                </a>
            {% endif %}
        <div>{{ post.total_all_follows }} subscriber(s)</div>
    </div>
    <div class="col-md-2"></div>   
</div>

        <!--<p>Posted by: <a href="{% url 'user_posts' author=post.author %}"> {{ post.author }}</a>, {{ post.published_date|date:"F n, Y" }}</p>

            Topic(s): {% for tag in post.posttag_set.all %}
            <a href="{% url 'post_list' %}?tag={{ tag }}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        <p>Class: <a href="Influence"> Influence</a></p>
        -->

<div class="row detail-fourth-row">
    <div class="col-md-3"></div>    
    <div class="col-md-6">
        <div class="detail-fourth-head">
              <span>Comment Wall</span>       
              {% if user.is_authenticated %}
                <a href="{% url 'comment_new' post=post.pk %}">
                  <span style="font-weight: normal; font-size: 18px;">(+Add Comment)</span>
                </a>
              {% else %}
                <a href="{% url 'login' %}">
                  <span style="font-weight: normal; font-size: 18px;">(Sign In)</span>
                </a>
              {% endif %}
        </div>
        <div class="detail-fourth-comment">
            {% for comment in post.comment_set.all %}
                <p>
                    <a href="{% url 'user_posts' author=comment.author %}">{{comment.author}}</a>, {{comment.created_date|date:"F n, Y"}}
                </p>
                <p>
                    "{{comment.entry}}"
                </p>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3"></div>   
</div>


<!--
            {% if user.is_authenticated %}    
                <button type="button" class="btn btn-default-sm remind-btn follow-button daily-btn" name="{{ post.id }}" value="1">
                  Daily <span class="daily"></span>
                </button>
                <button type="button" class="btn btn-default-sm remind-btn follow-button weekly-btn" name="{{ post.id }}" value="3">
                  Weekly <span class="weekly"></span>
                </button>
                <button type="button" class="btn btn-default-sm remind-btn follow-button monthly-btn" name="{{ post.id }}" value="6">
                  Monthly <span class="monthly"></span>
                </button>
            {% else %}
              <a href="{% url 'register' %}">
                <button type="button" class="btn btn-default-sm remind-btn follow-button" name="{{ post.id }}" value="1">
                  Daily <span class="daily"></span>
                </button></a>
              <a href="{% url 'register' %}">
                <button type="button" class="btn btn-default-sm remind-btn follow-button" name="{{ post.id }}" value="3">
                  Weekly <span class="weekly"></span>
                </button></a>
              <a href="{% url 'register' %}">
                <button type="button" class="btn btn-default-sm remind-btn follow-button" name="{{ post.id }}" value="6">
                  Monthly <span class="monthly"></span>
                </button></a>
            {% endif %}
-->



<script>
    $('.detail-remind-all').css('font-size', '28px')
        .css('width', '200px').css('height', '60px').css('margin', '10px')
        .css('color', 'white').css('font-weight', 'bolder').css('background-color', '#e01563');
    $('.detail-remind-all').click(function(){
        var pk = $(this).attr('name');
        $.ajax({
                 type: "POST",
                 url: "{% url 'follow_button' %}",
                 data: {
                     'pk': pk,
                     'frequency': $(this).val().toLowerCase(),
                     'csrfmiddlewaretoken': '{{ csrf_token }}'
                   },
                 dataType: "json",
                 success: function(response) {
                        $('.post' + pk + ' .all').html(response.total_all);
                  },
                 error: function(response, e) {
                        console.log('Something went wrong.');
                 }
            });
        location.reload()                
    })
</script>

{% if daily_post = 1 %}
    <script>
      $('.detail-btn-remind-daily').css('background-color', '#3eb991');
      $('.detail-daily-text').append(" <span class='glyphicon glyphicon-ok'></span>");
      $('.detail-btn-remind-daily').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% else %}
    <script>
      $('.detail-btn-remind-daily').css('background-color', '#e01563');
      $('.detail-btn-remind-daily').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% endif %}

{% if weekly_post = 1 %}
    <script>
      $('.detail-btn-remind-weekly').css('background-color', '#3eb991');
      $('.detail-weekly-text').append(" <span class='glyphicon glyphicon-ok'></span>");
      $('.detail-btn-remind-weekly').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% else %}
    <script>
      $('.detail-btn-remind-weekly').css('background-color', '#e01563');
      $('.detail-btn-remind-weekly').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% endif %}

{% if monthly_post = 1 %}
    <script>
      $('.detail-btn-remind-monthly').css('background-color', '#3eb991');
      $('.detail-monthly-text').append(" <span class='glyphicon glyphicon-ok'></span>");
      $('.detail-btn-remind-monthly').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% else %}
    <script>
      $('.detail-btn-remind-monthly').css('background-color', '#e01563');
      $('.detail-btn-remind-monthly').click(function(){
            var clicks = $(this).data('clicks');
            $(this).data("clicks", !clicks);
          })
    </script>
{% endif %}


{% if user.is_authenticated %}
    {% if post in liked_posts %}
        <script>
            $('.detail-like-button').css('background-color', '#3eb991').css('color', 'white');
            $('.detail-like-text').html('Saved')
            $('.detail-like-button').click(function(){
                var pk = $(this).attr('name');
                $.ajax({
                   type: "POST",
                   url: "{% url 'like_button' %}",
                   data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          console.log('Post likes count is now ' + response.likes_count);
              //          $('.like_count').html(response.likes_count);
                          location.reload()
                          console.log('this is like.');
                    },
                   error: function(response, e) {
                          console.log('Something went wrong.');
                   }
              });
          })
        </script>
    {% else %}
        <script>
                $('.detail-like-button').css('background-color', '#e01563').css('color', 'white');        
                $('.detail-like-text').html('Save to your toolkiit')
                $('.detail-like-button').click(function(){
                var pk = $(this).attr('name');
                $.ajax({
                   type: "POST",
                   url: "{% url 'like_button' %}",
                   data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          console.log('Post likes count is now ' + response.likes_count);
                          location.reload()
                          console.log('this is like.');
                    },
                   error: function(response, e) {
                          console.log('Something went wrong.');
                   }
              });
          })
        </script>
    {% endif %}    
{% else %}
    <script>
        $('.detail-like-button').css('background-color', '#e01563').css('color', 'white');        
        $('.detail-like-text').html('Save to your toolkiit') 
    </script>
{% endif %}

{% endblock %}

