{% extends 'board/base.html' %}
{% load staticfiles %}

{% block post_list_heading %}

		
		{% if request.path = "/" %}

		  

				<div style="
				    max-height: 400px;
				    margin-top: -50px;
				    overflow: hidden;
					  padding-bottom: 300px;
				">
					 	<img src="{% static 'images/steam_engine.jpg' %}" style="    
				    min-width: 100%;
				    min-height: 100%;
				    margin-top: -20%;
				    z-index: -1;
				    ">

				</div>
				<div style="
				width: 100%;
				top: 40%;
				z-index:1;
				color: white;
				font-size: 40px;
				font-weight: bold;
				color: white;
				text-align: center;
				margin-top: -250px;
				position: relative;
				padding-bottom: 170px;">

				<!--<p>To <span id="tagline-one">get better</span>, <span id="tagline-two">search here</span>.</p>-->
				    <p>Share your tools of influence,<br> and learn from others</p>
				</div>

<div style="
		  				font-size: 30px;
		  				color: black;
		  				font-weight: bolder;
		  				text-align: center;
		  				padding-bottom: 15px;
		  			">
							<p>-- Featured Collections --</p>
				</div>

    <div class="row">

                <div class="img-pic-container col-md-2">
                </div>
                <div class="img-pic-container col-md-2">
  	                <a href="/posts/Robert Moses">
		                    <img src="{% static 'images/robert.jpg' %}" class="img-rounded img-responsive images" width="150" >

                    		<h3 class="img-text-container"><span class="background-color-one">Robert Moses</span></h3>
             				</a>
                </div>

                <div class="img-pic-container col-md-2">
                		<a href="/posts/LBJ">
                    		<img src="{% static 'images/lbj.jpg' %}" class="img-rounded img-responsive images" width="150">
                    		<h3 class="img-text-container"><span class="background-color-two">LBJ</span></h3>
                		</a>
                </div>
                <div class="img-pic-container col-md-2">
                  	<a href="/posts/Heidi Roizen">
                    		<img src="{% static 'images/heidi.jpg' %}" class="img-rounded img-responsive images" width="150">
                    		<h3 class="img-text-container"><span class="background-color-one">Heidi Roizen</span></h3>
                		</a>
                </div>
                <div class="img-pic-container col-md-2">
                  	<a href="/posts/Alexander Hamilton">
                    		<img src="{% static 'images/alex.jpg' %}" class="img-rounded img-responsive images" width="150">
                    		<h3 class="img-text-container"><span class="background-color-two">Alexander Hamilton</span></h3>
                		</a>
                </div>
                <div class="img-pic-container col-md-2">
                </div> 
      </div>

				<div style="
		  				font-size: 30px;
		  				color: black;
		  				font-weight: bolder;
		  				text-align: center;
		  				margin-top: 70px;
		  			">
							<p>-- Your Tool Feed --</p>
				</div>
				
		{% elif request.path = "/posts/mytoolkit/" %}
				<div style="
		  				font-size: 30px;
		  				color: black;
		  				font-weight: bolder;
		  				text-align: center;
		  			">
							<p>-- My Toolkiit --</p>
				</div>
				<div style="
		  				font-size: 20px;
		  				color: black;
		  				text-align: center;
		  				margin-bottom: 30px;
		  			">
							<p>Tools you've saved to your Toolkiit	</p>
				</div>

		{% else %}
				<div style="
		  				font-size: 30px;
		  				color: black;
		  				font-weight: bolder;
		  				text-align: center;
		  			">
							<p>-- Search results --</p>
				</div>
				<div style="
		  				font-size: 20px;
		  				color: black;
		  				text-align: center;
		  				margin-bottom: 30px;
		  			">
							<p><a href="{% url 'board.views.post_list' %}">Back to home</a></p>
				</div>
				 

		{% endif %} 





{% endblock %}


