<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">

    <div style="padding-top: 11px; padding-bottom: 14px; color: black;">
        <span style="display: inline-block;">
            <span style="font-size: 20px; padding-top: 2px;">Toolkiit</span><br>
        </span>
    </div>

    <hr>

    <br>

    <p>
        Hello {{ user_name }},
        <br><br>
        Below are the tools I want you to focus on every {{ frequency }}:
        <br>
        {% block content %}{% endblock %}
        <br>
        Cheers!
        <br>
        Your Past Self
        <br><br>
        <span
          style="width: auto; display: inline-block; padding: 6px 12px; background-color: #e01563; border-radius: 3px; cursor: pointer;">
            <a style="text-decoration: none; color: white;" target="_blank"
               href="{{ full_domain }}{% url 'my_toolkit' %}">
              See Your Tookiit
            </a>
        </span>
    </p>
    <br>

    <hr>

    <div style="width: 100%; padding: 8px; text-align: center;">



        <div style="margin: 8px;">
            Found a bug? Have a feature request?
            <br>
            Please
            <a href="https://github.com/mhinckley/toolkiit/issues" target="_blank">
                let us know</a>.

        </div>

        <span
    style="width: auto; display: inline-block; padding: 6px 12px; background-color: #c0c0c0; border-radius: 3px; cursor: pointer;">
            <a style="text-decoration: none; color: #000000;" target="_blank"
       href="{{ full_domain }}{% url 'my_toolkit' %}">Disable email notifications</a>
        </span>

    </div>

</div>