{% extends "email/base.html" %}

{% block content %}
		{% for follow in follows %}            
        <ul style="color: black;">
        		<li>
        				<a href="{{ full_domain }}{% url 'post_detail' pk=follow.post.pk %}" style="font-weight: bold; background-color: black; text-decoration: none;">
            				<span style="color: #6ecadc;">To {{ follow.post.to_field }},</span><span style="color: #e9a820;"> I should {{ follow.post.do_field }}.</span>
        				</a>
    				</li>
    		</ul>
		{% endfor %}
{% endblock %}