body {
    font-family: 'Roboto', sans-serif;

}



.page-header {
    background-color: #e01563;
    margin-top: 0;
    padding: 20px 20px 20px 65px;    
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
}

.content {
    height: 100px;
    width: 100%;
    margin-top: 70px
}


.post-form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-color: black;
}


.post-form textarea {
    padding: 10px;
    width: 100%;
    height: 100px;
    border-color: black;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}


.post-list-parent_1 {
  width: 90%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  float: left;
}


.images {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.post-list-to_should_section {
    text-align: center;
    min-height: 100px;
    height: 100%;
    min-width: 80%;
    background-color: black;
    color: #6ecadc; 
    padding: 20px; 
    border-color: black;
    float: left;
}


.post-list-like-button {
    width: 80px;
    height: 60px;
}

.navbar-form .form-control {
    width: 270px;
}


#dead-link {
    color: gray;
}

#outer-pages {
    width: 100%;
}
#inner-pages {
    width: 20%;
    margin: auto; 
}

.navbar-brand {
    padding-left: 20px;
    font-size: 35px;
    font-weight: bolder;
    font-variant: small-caps;
}


.navbar-custom {
    background-color:pink;
    color:black;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: black;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: black;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color: black;
}



.images {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}


.img-text-container {
    position:absolute;
    width: 100%; 
    bottom: 0;
    font-size:20px; 
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: -12px;
}

.background-color-one {
    background-color: #6ecadc;
}

.background-color-two {
    background-color: #e9a820;
}







.detail-top-row {
   background-color: black;
   color: white;
   margin-top: -20px;
       width: 100%;
   background-size: cover;
}



.detail-top {
   min-height: 350px;
   text-align: center;
   padding-top: 30px;
   display:table;
}

.detail-align {
    display: table-cell;
    vertical-align:middle;
}

.detail-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.detail-to-text {
    color: #6ecadc;
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.2;
}

.detail-then-text {
    color: #e9a820;
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.2;
}

.detail-above-button-row{
    background-color: black;
    text-align: center; 
    min-height: 70px;      
}

.detail-button-row{    
    text-align: center;
    margin-top: -35px;      
}

.detail-like-button{
    min-height: 70px;
    font-size: 25px;   
    min-width: 400px;
}


.detail-second-row {
    background-color: white;        
    color: black;
    padding-bottom: 100px;
    font-size: 18px;
}

.detail-second-section {
    padding-top: 70px;
    border-top: solid; 
    border-color: white;
}

.detail-second-head {
    font-weight: bolder;
    font-size: 22px;
}


.detail-second-summary {
    line-height: 1.75;
}

.detail-second-social {
    line-height: 1.75;
    border-top: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    margin-top: 20px;
    padding-top: 10px;

}

.like-text {

}


.detail-second-example {
    padding-right: 55px;
    line-height: 1.75;
}

.detail-third-row {
    background: #d3d3d3; 

    padding-top: 20px;
    padding-bottom: 40px;
}

.detail-third-text {
    padding-top: 30px; 
    padding-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}



.detail-fourth-row {
    margin-top: 40px;
}

.detail-fourth-head {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

.detail-fourth-comment {
    padding-top: 30px; 
    padding-bottom: 30px;
    text-align: left;
    color: black;
    font-size: 16px;
}


.post-list-heading-text {
    font-size: 30px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}
